/*FONTS*/
h1,h2,h3{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'EB Garamond',serif;
    font-size: 19px;
}

body{
    margin:0;
}

.header_container{
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1505336098893-b30f66fadfa7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
}

.header_container p{
    padding-top: 201px;
    text-align: left;
    color: white;
    filter: opacity(0);
    transition: 0.4s;
}

.header_container:hover > p{
    text-align: left;
    color: white;
    filter:opacity(100);
    transition: 0.4s;
}

.header_content{
    display:inline-block;
    justify-content: center;
}

.main{
    /* Gör till wrapper*/
}

.main h2{
    padding: 1vw;
    text-align: center;
    font-size: 200%
    
}

.main table{
    display:inline-block;
    justify-content: center;
    display:flex;
}

.player{
    padding-left: 4vw;
}

.Covers th{
    padding-left: 10px;
    padding-right: 10px;
}

#title{
    font-size: 400%;
    padding-top: 24%;
}

#title_2{
    font-size: 250%;
    text-align: center;
}

h1{
    color: white;
    text-shadow: 2px 2px 25px black;
}